@charset "UTF-8";

body {background-color: #f5f6f7;}

#wrap {
  max-width: 768px;
  min-width: 460px;
  margin: 0 auto;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
}

#language {
  float: right;
  margin-top: -15px;
  background-color: #f5f6f7;
  border-color: #dadada;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  font-weight: 900;
  color: #00c850;
  margin: 30px 0 30px;
  padding-left: 80px;
}

input {
  margin: 15px 0 15px 0;
}

#must {
  font-size: 10px;
}

.agree {
  border: 1px solid #dadada;
  background-color: white;
}
.agree > div {
  padding: 15px 15px;
  height: 50px;
  overflow: auto;
  font-size: 13px;
}


/* @media screen and (max-width:1024px){
  #content {
    width: 460px;
    margin: 0 auto;
  }
} */

#table_a {
  width: 460px;
  margin: 0 auto;
}

button {
  background-color: #00c850;
  background-image: none;
  border: none;
  box-sizing: border-box;
  color: white;
  height: 50px;
  }
}

button:focus {
  outline: none;
}

#wrap > form > div.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
