@charset "UTF-8";
html,body { height: 100%;}
ul,ol { list-style: none; }
a{ color: Chocolate; }

.box {
  position: absolute;
  width: 100px;
  height: 100px;
  background: lightgreen;
  /* top: 100px;
  left: 100px; */
}
