@charset "UTF-8";
html,body { height: 100%; }
body { background: beige; }

#wrap {
  display: flex;/*flex로 가운데 정렬하는 방법 (justify-content: center; align-items: center; 같이 세트로 사용 )*/
  justify-content: center; /*좌우정렬*/
  align-items: center; /*상하정렬*/
  height: 100vh;
}

#wrap::before {
  content: 'TEST';
  font-size: 2em;
  color: red;
  font-weight: bold;
}


/*디바이스 크기별로 배경색,텍스트 바뀌도록 구현하기*/
@media screen and ( max-width: 1200px ) {
  body { background: red; font-size: 100px; }
  #wrap::before {
    content: 'Yo';
    color: white;
  }
}

@media screen and ( max-width: 1024px ) {
  body { background: blue; color: white; }
  #wrap::before {
    content: 'soy';
  }
}

@media screen and ( max-width: 768px ) {
  body { background: green; color: white; }
  #wrap::before {
    content: 'MI';
  }
}

@media screen and ( max-width: 380px ) {
  body { background: yellow; color: black; }
  #wrap::before {
    content: 'Hola!';
    color: black;
  }
}
