@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Noto+Sans+KR:wght@100&family=Spicy+Rice&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #666666;
  min-width: 760px;
}

a {
  color: #666666;
}

/* header Layut */
#main-header {
  height: 60px;
  line-height: 60px;
  padding-left: 10px;
  border-bottom: 1px solid black;
  background-color: #124088;
}

#main-header h1 a {
  color: white;
}

/* miain gnb */
#main-gnb {
  overflow: hidden;
  border-bottom: 1px solid black;
  background: #32394a;
}

#main-gnb ul {
  overflow: hidden;
}

#main-gnb > ul.left {
  float: left;
}

#main-gnb > ul.right { /*main-gnb의 바로 밑에 있는 ul만을 가르킨다.*/
  float: right;
}

#main-gnb > ul > li { /*  '>' 자식선택자  */
  float: left;
}

#main-gnb a {
  display: block;
  padding: 10px 20px;
  color: white;
  font-weight: bold; /*bold는 수치700과 동일하다*/
}

/* 컨텐츠content 영역 */
#wrap {
  overflow: hidden;
  background: #71b1d1;
}

#wrap > #main-lnb {
  float: left;
  width: 200px;
}

#wrap #content-wrap {
  float: left;
  width: calc( 100% - 200px);
}

#main-lnb > ul > li > a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 15px;
  border-bottom: 1px solid #96d6f6;
  color: white;
}

#content {
  background: white;
  padding: 30px;
}

/* 하단영역 */
#main-footer {
  padding: 10px;
  border-top: 3px solid black;
  text-align: center;
}
