@charset "UTF-8";
* { margin: 0; padding: 0; }
html,body { height: 100%; }
ul,li { list-style: none; }
button { border: 0; background: none; }
button,input { outline: none; }

#sidemenu {
  position: fixed;
  background: #f2de24;
  top: 0;
  bottom: 0;
  right: -300px;
  width: 300px;
  z-index: 10;
  transition: 1s;
}

#sidemenu.on {
  right: 0;
}
