@charset "UTF-8";
html,body { height: 100%; }
ul,ol { list-style: none; }
a{ color:#666666; }
body { background: lightgray; }

button {
  cursor: pointer;
}

.box {
  background: lightgreen;
  margin-bottom: 20px;
}
