@charset "UTF-8";
html,body { height: 100%; }
ul,ol { list-style: none; }
a{ color:#666666; }
body { background: lightgray; }

span {
  position: fixed;
  font-size: 16px;
  display: inline-block;
  background: lightgreen;
  color: navy;
}
