@charset "UTF-8";
* { box-sizing: border-box; margin: 0; padding: 0;}
html,body { height: 100%; }
ul,ol { list-style: none; }
a {color: #666666; text-decoration: none;}

#container {
  width: 600px;
  margin: 20px auto;
}

#navi {
  width: 600px;
}

#navi ul li {
  width: 120px;
  float: left;
}

#navi ul li img {
  width: 100%;
  border: 3px solid white;
}

#navi {
  overflow: hidden;
}

#navi .page-wrap { /*.page-wrap 초기 너비값 설정*/
  width: 1800px;
}

#navi .page-wrap .page {
  float: left;
}

.navi-wrap {
  position: relative;
}

/*prev, next 버튼을 #navi요소의 좌우영역에 배치하시오*/
.navi-wrap > img {
  cursor: pointer;
  position: absolute;
  z-index: 500;
  top: 50%;
}

.navi-wrap > img.next {
  right: 0;
  transform: translate(100%, -50%);
}

.navi-wrap > img.prev {
  left: 0;
  transform: translate(-100%, -50%);
}

.btn_next {
  left: -50px;
}

#main {
  position: relative;
  width: 600px;
  height: 452px;
}

#main img {
  position: absolute;
  width: 100%;
  border: 3px solid white;
}
