@charset "UTF-8";
html,body { height: 100%; }
ul,ol { list-style: none; }
body { background: lightgray; }
a{ color:#666666; }
li{ position: relative; }

/* ul li:nth-child(even){
  color: red;
} */

li {
  min-height: 20px;
  line-height: 20px;
  border: 1px solid black;
}
